*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: "微软雅黑";
}
body{
	background-color: #F2F2F2;
}
.banner{

	width: 100%;
	height: 400px;
	background: #222222;
	position: relative;
	margin-bottom: 90px;
}
.banner1{
	width: 100%;
	height: 300px;
	position: absolute;
	
	bottom: 0px;
}
.tu img{
	margin:  auto;
	margin-bottom: 120px;
	position: absolute;
	left: 47%;


}
.banner p{
	font-size: 32px;
	text-align: center;
	line-height: 200px;
	color: white;
	


}
.banner1 h1{
	color: white;
	text-align: center;
	cursor: pointer;
	font-size: 50px;



}
.banner1 h1:hover{
	color: white;
	text-decoration: underline;/* 下划线 */
	}
.tu{
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: -8px;
/* 	background: red; */
	z-index: 6;

}



.box1 li{
	
	padding: 0 20px;
	margin-bottom: 30px;

}
.box1 ul:after{
	content: "";
	display: block;
	 clear: both; 
	width: 0;
	height: 0;
} 
.box1 li .imga{
	background-color: #fff;
	padding: 1px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.box1 li .imga>img{
	width: 532px;
	height: 332px;
	display: block;
}
.box1 li .imga figcaption{
	width: 100%;
	height: 30px;
	
	color: #777777;
	font-size: 24px;

	text-align: center;
	line-height: 30px;
	font-weight: bold;
	cursor: pointer;/* 手指样式 */

}
.box1 li .imga figcaption:hover{
	color: #000;
	text-decoration: underline;
}


     .box1{
     	width: 100%;
     	height: auto;
     }
 /* .box1 li .imga{
 	width: 100%;
 } */
  .box1 li .imga>img{
	/*   width: 100%; */
	  height: auto;
   }   /*  */
   .wenzi2{
   	display: none;

   } 



.wenzi{
	width: 100%;
	height: 60px;
	margin: 0px auto;
	
}

.wenzi p{
	width: 100%;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
}
.wenzi a{
	text-decoration: none;
}
.wenzi2{
	width: 100%;
	 margin:30px 120px;
	height: 200px;
	background: #202020;
	margin-top: 50px;
}

.wenzi2 li{
	width: 23%;
	float: left;
	margin-left: 10%;
	color: #867777;
	font-size: 18px;
	margin-top: 35px;
}
a{
	text-decoration: none;
	
	font-size: 15px;
}
.wenzi2 dt{
	color: white;
	border-bottom : 1px solid #303030;
}
.wenzi2 a{
	font-size: 13px;
	color: #959595;
}
.wenzi2 dd{
	border-bottom: 1px dashed #959595;/* 虚线*/ 
}
.wenzi2 a:hover{
	color: white;
}
.wenzi3 li{
	display: none;
}
@media screen  and (max-width: 1199px){

	.box1 li .imga>img{
	width: 432px;
	height: 322px;
   }
     
}


@media screen  and (max-width: 992px){
    .box1 li .imga>img{
	width: 696px;
	height: 432px;
   }
   .box1 li .imga>img:nth-child(5){
     width: 321px;
     height: 201px;
   }
   .box1 li .imga>img{
	  width: 100%;
	  height: auto;
   }

}


@media screen  and (max-width:750px){

    .container-fuild .container{
     	width: 94%;
    	height: auto;
     }


.col-ss-1{
	width: 8.3333%;
}
.col-ss-2{
	width: 16.66667%;
}
.col-ss-3{
	width: 25%;
}
.col-ss-4{
	width: 33.333%;
}
.col-s-5{
	width: 41.6667%;
}.col-ss-6{
	width: 50%;
}
.col-ss-7{
	width: 58.3333%;
}
.col-ss-8{
	width: 66.66667%;
}
.col-ss-9{
	width: 75%;
}
.col-ss-10{
	width: 83.333%;
}
.col-ss-11{
	width: 91.6667%;
}
.col-ss-12{
	width: 100%;
}
 
}
.bottom1{
	width: 100%;
	height: 204px;
	background-color: #202020;
	border-bottom: 1px solid #303030;
}
.bottom1 .sbottom1{
	width: 86.667%;
	height: auto;
	margin: auto;
}
.bottom1 .sbottom1 .col-l-4{
	height: 167px;
	/* background: red; */
	margin-top: 37px;
}
.bottom1 .sbottom1 .col-l-4 .neirong{
	padding: 0px 30px;
}
.bottom1 .sbottom1 .col-l-4 .text{
	font-size: 18px;
	color: white;
	border-bottom: 1px solid #303030; 
}
.bottom1 .sbottom1 .col-l-4 .text h4{
	font-weight: normal;
	padding-bottom: 8px;
}
.bottom1 .sbottom1 .col-l-4 .subtext a{
	display: block;
	padding-top: 25px;
	padding-bottom: 18px;
	font-size: 12px;
	color: #959595;
	border-bottom: 1px dashed #303030;
}
.bottom1 .sbottom1 .col-l-4 .subtext a:hover{
	color: white;
}
.bottom1 .sbottom1 .col-l-4 .subtext1 a{
	border: 1px solid #303030;
	font-size: 12px;
	color: #959595;
	
	margin: 15px 15px 15px 0px;
}
.bottom1 .sbottom1 .col-l-4 .subtext1 a:hover{
	color: white;
	background: skyblue;
}
/* 750响应的底部 */
.small-bottom1{
	width: 100%;
	height: 437px;
	background-color: #202020;
	border-bottom: 1px solid #303030;
	display: none;
}
.small-bottom1 .sbottom1{
	width: 87.33334%;
	height: auto;
	margin: auto;
}
.small-bottom1 .sbottom1 .col-l-12{
	height: 150px;
	/* background: red; */
	margin-top: 20px;
}
.small-bottom1 .sbottom1 .col-l-12:nth-child(2){
	height: 80px;
}
.small-bottom1 .sbottom1 .col-l-12 .neirong{
	padding: 0px 30px;
}
.small-bottom1 .sbottom1 .col-l-12 .text{
	font-size: 18px;
	color: white;
	border-bottom: 1px solid #303030; 
}
.small-bottom1 .sbottom1 .col-l-12 .text h4{
	font-weight: normal;
	padding-bottom: 8px;
}
.small-bottom1 .sbottom1 .col-l-12 .subtext a{
	display: block;
	padding-top: 25px;
	padding-bottom: 18px;
	font-size: 12px;
	color: #959595;
	border-bottom: 1px dashed #303030;
}
.small-bottom1 .sbottom1 .col-l-12 .subtext a:hover{
	color: white;
}
.small-bottom1 .sbottom1 .col-l-12 .subtext1 a{
	border: 1px solid #303030;
	font-size: 12px;
	color: #959595;
	/* padding: 8px; */
	margin: 15px 15px 15px 0px;
}
.small-bottom1 .sbottom1 .col-l-12 .subtext1 a:hover{
	color: white;
	background: skyblue;
}
/* 最后一层 */
.bottom2{
	width: 100%;
	background-color: #111111;
}
.bottom2 .sbottom2{
	width: 86.6667%;
	height: 54px;
	margin: auto;
	font-size: 14px;
	color: #555555;
	text-align: center;
	padding: 17px 0px;
}
.bottom2 .sbottom2 i{
	font-style: normal;
	font-size: 14px;
	color: #555555;
	cursor: pointer;
}
.bottom2 .sbottom2 i:hover{
	text-decoration: underline;
}
/* 第 1 次响应 */
@media screen and (max-width: 1199px){
	section {
	width: 970px;
	}
	section ul li{
	height: 344px;
	}
	section ul li figure img{
	width:431px ;
	height: 270px;

	}
}
/* 第2次响应 */
@media screen and (max-width: 992px){
	section {
	width: 750px;
	}
	section ul li{
	height: 491px;
	}
	section ul li figure img{
	width:696px ;
	height: 435px;
	}
	section ul .p{
	height: 260px;
	} 
	section ul li figure .pic{
	width:321px ;
	height: 201px;
	}

}
/* 第三次响应 */
@media screen and (max-width: 770px){
	section {
	width: 94%;
	}
	section ul li{
	height: auto;
	}
	section ul li figure img{
	width:100% ;
	height: auto;
	}
	section ul .p{
	display: none;
	} 
	section ul li figure .pic{
	display: none;
	}
	section ul li:nth-child(19),li:nth-child(21),li:nth-child(22),li:nth-child(20){
	display: block;
	}
	.bottom1{
		display: none;
	}
	.small-bottom1{
		display: block;
	}
	footer nav .box{
	margin-right: -15px;
	width: 69px;
	}
}